<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">	
	<title>Document</title>
	<link rel="stylesheet" href="estilos.css">
</head>
<body>
	<div class="header">
		<h1>Televisa</h1>
		<p>Informacion 100% real no feik</p>
	</div>
	<div class="menu">
		<a href="layout.html">menu 1</a>
		<a href="noticia1.html">menu 2</a>
		<a href="noticia2.html">menu 3 </a>
		<a href="noticia3.html">menu 4 </a>
		<a href="noticia4.html">menu5</a>
	</div>
	<div class="contenido">
	 <div class="izquierda">
	  <div class="item">
	 	<h2>Noticias</h2>
	 	<h5>Noticieros televisa</h5>
	 	<img src="ejemplo.png" alt="" class="imagen">
	 	<p> Platanos chiapas a $20.00, en otra noticias el Alejandro no deja de interrumpir a Blanca</p>

	 </div>
	</div>
   <div class="derecha">
   	<div class="item">
   		<h2>Informacion</h2>
   		<img src="intento.jpg" alt="" width="100px">
   		<p>Estos noticieros fueron creados por un dios del olimpo que estaba aburrido y un parpadeo suyo manejó
   		el teclado de la computadora y creó la pagina desde cero.</p>
   	</div>
   </div>
</div>
<div class="footer">
	<h2>&copy; 2019</h2>
</div>
</body>
</html>