<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">	
	<title>Document</title>
	<link rel="stylesheet" href="estilos.css">
</head>
<body>
	<div class="header">
		<h1>Televisa</h1>
		<p>Informacion 100% real no feik</p>
	</div>
	<div class="menu">
		<a href="layout.html">menu1</a>
		<a href="noticia1.html">menu2</a>
		<a href="noticia2.html">menu3 </a>
		<a href="noticia3.html">menu4 </a>
		<a href="noticia4.html">menu5</a>
	</div>
	<div class="contenido">
	 <div class="izquierda">
	  <div class="item">
	 	<h2>Noticias</h2>
	 	<h5>Noticieros televisa</h5>
	 	<img src="bb.jpg" alt="" class="imagen">
	 	<p> Al dibujar muchas personas cometen errores al principio y es normal.</p>

	 </div>
	</div>
   <div class="derecha">
   	<div class="item">
   		<h2>Informacion</h2>
   		<img src="ff.jpg" alt="" width="100px">
   		<p>Para dibujar lo unico que necesitas es practica y no talento como dicen muchas personas,
   		para todo hay que tener practica.</p>
   	</div>
   </div>
</div>
<div class="footer">
	<h2>&copy; 2019</h2>
</div>
</body>
</html>